*{
    margin: 0;
    padding: 0;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px black;
    font-size: 8vmin;
    color: brown;
    background-color: bisque;
}
body{
    background-color: aquamarine;
    text-align: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

   

}
#reset{
   padding: 1rem;
   font-size:1.25rem;
   background-color: black;
   color: white;
   border-radius: 5px;
}

#newbtn{
   padding: 1rem;
   font-size:1.25rem;
   background-color: black;
   color: white;
   border-radius: 5px;

}
#msg{
    font-size: 8vmin;
}
.msg-container{
    height: 20vmin;
}
.hide{
    display: none;
}